{% extends 'base.html.twig' %}

{% block title %}FICHIER
{% endblock %}

{% block body %}

<style>
.passreset {
	background: #f5f6f6 !important;
    padding: 3%;
	margin-bottom: 5%;
	margin-top: 5%;
}

.btn.btn-primary {
	width: 130px;
	height: 40px;
}
</style>
	<h2 class="font-weight-bold display-4 ">GESTION
		<span style="color: #2277ff">DU FICHIER</span>
	</h2>
	<hr>

	<div class="passreset">
		{{ form(form) }}
	</div>

	<a class="changepassword" href="{{ path('account') }}">Retourner sur mon compte</a>
	<br>

	{% endblock %}
