{% extends 'base.html.twig' %}

{% block title %}
  Mentions Légales
{% endblock %}

{% block body %}
  <h2 class="font-weight-bold display-4">
    MENTIONS
    <span style="color: #2277ff">LÉGALES</span>
  </h2>
  <hr />

  <div class="newform">
    <p>
      <b>1. Présentation du site</b>
    </p>
    <p>
      En vertu de l'article 6 de la loi n° 2004-575 du 21 juin 2004 pour la
      confiance dans l'économie numérique, il est précisé aux utilisateurs du
      site https://jobissim.com l'identité des différents intervenants dans le
      cadre de sa réalisation et de son suivi :
    </p>
    <p>
      • Propriétaire : JOBISSIM SAS, société par actions simplifiée, au capital
      de 6.000€, sise à CHEMY (59147), 2D, rue de l’Eglise et inscrite au
      registre du commerce et des sociétés de Lille Métropole sous le n° 893 384
      123
    </p>
    <p>
      • Responsable publication : Antonin Demont
    </p>
    <p>
      • Mail : jobissim@jobissim.com
    </p>
    <p>
      • Hébergeur : Le site jobissim.com est hébergé par la société
      PLANETEHOSTER, 4416 Louis-B.-Mayer Laval, Québec Canada H7P 0G1
    </p>
    <br /><br />
    <p>
      <b>2. Propriété intellectuelle et contrefaçons</b>
    </p>
    <p>
      Le présent site web ainsi que les droits d’usage sur tous les éléments
      accessibles sur le site, notamment les textes, images, graphismes, logo,
      icônes, sons, logiciels sont la propriété d’Hélène Mairesse.
    </p>

    <p>
      Toute reproduction, représentation, modification, publication, adaptation
      de tout ou partie des éléments du site, quel que soit le moyen ou le
      procédé utilisé, est interdite, sauf autorisation écrite préalable de son
      propriétaire et pourrait entrainer des poursuites judiciaires telles que
      prévues par les lois en vigueur au titre de la propriété intellectuelle.
    </p>
    <br /><br />
    <p>
      <b>3. Liens hypertextes et cookies</b>
    </p>
    <p>
      Le site https://jobissim.com peut contenir un certain nombre de liens
      hypertextes vers d’autres sites, mis en place avec l’autorisation de son
      propriétaire. Cependant, le propriétaire n’a pas la possibilité de
      vérifier le contenu des sites ainsi visités, et n’assumera en conséquence
      aucune responsabilité de ce fait.
    </p>
  </div>
{% endblock %}
