<style>
.fa-trash {
    color: #ff0000e3;
    font-size: 18px;
}
button {
    background: none;
    border: none;
}
</style>

<form method="post" action="{{ path('message_delete', {'id': message.id}) }}" onsubmit="return confirm('Supprimer le message ?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ message.id) }}">
    <button class=""><i class="fas fa-trash"></i></button>
</form>
